[id^=div-gpt-ad] {
  margin: $small-spacing auto;

  @media screen and (min-width: $xl-screen) {
    margin: $base-spacing auto;
  }
}

[id^=google_ads_iframe] {
  display: block !important;
  margin: 0 auto;
}

.entry-sidebar > .widget_text:last-child,
.homepage-sidebar__part-two > .widget_text:last-child {
  position: sticky;
  top: $base-spacing;
  padding-bottom: $small-spacing;
}
