body.lightbox-open {
  overflow: hidden;
}

.lightbox-wrapper {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $medium-gray;
}

.lightbox-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lightbox-controls {
  position: absolute;
  background-color: white;
  right: 0;
  bottom: 0;
  top: 0;
  width: 4 * $base-spacing;
  border-left: 1px solid $light-gray;
  padding: $base-spacing $small-spacing;
  display: flex;
  flex-direction: column;
}

.lightbox-control {
  font-size: modular-scale(3);
  text-align: center;
  line-height: 2.75 * $base-spacing;
  padding: 0;
  font-weight: 400;
  background-color: $light-blue;
  color: black;
  width: 3 * $base-spacing;
  height: 3 * $base-spacing;
  border-radius: 50%;
  margin-top: $small-spacing;
  vertical-align: middle;

  &:first-child {
    margin-bottom: auto;
    margin-top: 0;
  }

  &:focus {
    outline: none;
  }
}
