.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.sharing-icons--wrapper {
  text-align: right;
  border-top: $base-border;
  color: $blue;
  line-height: 2 * $base-spacing;
  position: sticky;
  top: calc(100% - #{ 2 * $base-spacing });
  margin-top: -$base-spacing;
  margin-bottom: 0;
  z-index: 99;
  background-color: white;
  margin-left: -$small-spacing;
  margin-right: -$small-spacing;
  padding-left: $small-spacing;
  padding-right: $small-spacing;

  @media screen and (min-width: $medium-screen) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.sharing-icons {
  float: right;
  padding-right: $small-spacing;
}

.sharing-icons--icon {
  float: left;
  font-size: modular-scale(2);
  margin-left: $base-spacing;
}
