.container {
  max-width: 0.85 * $xl-screen;
  margin: 0 auto;
  // padding-left: $small-spacing;
  // padding-right: $small-spacing;

  @media screen and (min-width: $medium-screen) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }

  @media screen and (min-width: $large-screen) {
    padding-left: 2 * $base-spacing;
    padding-right: 2 * $base-spacing;
  }
}

.wrap {
  margin-bottom: $small-spacing;

  @media screen and (min-width: $xl-screen) {
    margin-bottom: $base-spacing;
  }
}
